<header>
  <div class="header-container">
    <div class="logo-container">
      <img class="imagen-logo" src="assets/LogoSaludPlus.png" alt="Logo SaludPlus" />
    </div>
    <div class="header-content">
      <h1>{{ title }}</h1>
      <p class="slogan">{{ slogan }}</p>
    </div>
    <div class="header-contact">
      <div class="contact-item">
        <i class="fas fa-phone-alt"></i>
        <span>+56 2 2345 6789</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <span>contacto&#64;saludplus.cl</span>
      </div>
    </div>
  </div>
</header>


